 *{
    margin: 0px;
    padding: 0px;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
 }

 body {
    background-color:FFFFFF;
 }
 .header {
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 30px auto;
    margin-bottom: 20px;
    
    border-radius: 8px;
 }

 .container {
    width: 1200px;
     
    margin: 0 auto 20px auto;
    border-radius: 8px;
    margin-bottom: 20px;
 }

 .Buy-btn {
    background-color: rgb(39, 38, 37);
    padding: 14px 30px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    box-shadow: 0px 11px 31px 0 #9e9c9c;

 }


 #hero {
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 100px;
    padding: 40px 20px;
    background-color:#FEEAE9 ;
     
 }

 #hero-content {
    padding-bottom: 80px;
    padding-left: 50px;
      
     
    
 }
 #hero-content h1{
    font-size: 43px;
    margin-bottom: 30px;
 }
 
 #hero-content p {
    font-size: 16px;
    font-weight: 500px;
    
    margin-bottom: 20px;
    
 }

 #hero-content h4 {
    width: 60px;
    color: tomato;
    font-size: 18px;
    margin-bottom: 15px;
 }

 #hero-tv{
     width: 50%;
     text-align: right;
 }

 
#hero-tv img {
  width: 400px;
}


.categories {
    width: 1200px;
    height:50px;
     margin-bottom: 5px;
     
    
}
.categories h3{
     margin: 0;
    font-size: 20px;
      
}

.cat-buttons {
    display: flex;
    gap: 200px;
    

}
.cat {
    padding: 12px 25px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 30px;
    width: 25%;
    height: 100px;
    }
    
    
.cat img {
     width: 75px;
     height: auto;
}
.watch {
  background: orange;
  border: none;
  font-size: 25px;
  
}

.bag {
  background: deeppink;
  border: none;
  font-size: 25px;
}

.shoes {
  background: #3b00ff;
  border: none;
  font-size: 25px;
}
 

 /* product section */

 .product-card {
    padding: 20px;
    border: 1px solid black;
    background:#FFFFFF;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s ease;
 }

 .product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;

 }

 .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1;
 }

 .product-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;

 }

 .product-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
    flex-grow: 1;
 }

 .product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(21, 21, 21);
    margin-bottom: 20px;

 }

.product-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 100px;
} 

.section-title{
    width: 100% ;
    padding-top: 30px;
}

 
.footer {
    background-color: #FEEAE9 ;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 400px;
}

.footer h3 {
    font-size: 24px;
    padding-top: 120px;
    padding-bottom: 10px;
}

.footer p {
    font-size: 16px;
    padding-bottom: 10px;
}

.email-box {
    display: flex;
    gap: 10px;
}

.email-box input {
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    width: 250px;
}

.email-box button {
    padding: 10px 20px;
    background: #FF136F;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}